<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Batch 43 - Day 5 | Wahyudi Chrisdianto</title>
  <link rel="shortcut icon" href="/public/assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="/public/assets/css/app.css" as="style">
  <link rel="stylesheet" href="/public/assets/css/app.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="fixed-top shadow navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid container">
      <a class="navbar-brand" href="/">
        <img src="/public/assets/img/logo-DW.webp" width="64" alt="Dumbways Logo" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/project">Add Project</a>
          </li>
        </ul>
        <div class="d-flex">
          <a class="btn btn-outline-primary" href="/contact">Contact Me</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Form Get In Touch -->
  <section class="my-bg-gradient text-white py-5" style="min-height: 100vh;">
    <div class="mx-auto my-max-w-sm px-3" style="padding-top: 5rem;">
      <h1 class="card-title fw-bold text-center mb-5">Get In Touch</h1>
      <div class="card-body">

        <form action="" class="fw-semibold">
          <div class="mb-4">
            <label for="f-name">Name</label>
            <input id="f-name" type="text" class="form-control" placeholder="Fill it with your Full Name">
          </div>
          <div class="mb-4">
            <label for="f-email">Email</label>
            <input id="f-email" type="email" class="form-control" placeholder="Fill it with your Real Email">
          </div>
          <div class="mb-4">
            <label for="f-phone">Phone Number</label>
            <input id="f-phone" type="text" class="form-control"
              placeholder="Feel free to type it with your phone number">
          </div>
          <div class="mb-4">
            <label for="f-subject">Subject</label>
            <select id="f-subject" class="form-control">
              <option value="Opsi 1">Collaborate</option>
              <option value="Opsi 2">Job Offering</option>
              <option value="Opsi 3">Other</option>
            </select>
          </div>
          <div class="mb-4">
            <label for="f-message">Your Message</label>
            <textarea id="f-message" name="f-message" rows="3" class="form-control"
              placeholder="Say Something ..."></textarea>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-primary px-5 border-white" type="button" onclick="submitData()">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </section>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="nav-link d-flex gap-2 align-items-center" aria-current="page" href="index.html"><img
          src="https://github.com/hyujisf.png" width="40" alt="hyujisf profile" class="rounded-pill"><span
          class="fw-semibold "><i class="fa-brands fa-github"></i> Hyujisf</span></a>
    </div>
  </nav>
  <script src="/public/assets/js/contact.js"></script>
</body>

</html>