<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Data.Title}}</title>
  <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
  <link rel="preload" href="/public/css/app.css" as="style">
  <link rel="stylesheet" href="/public/css/app.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="fixed-top shadow navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid container">
      <a class="navbar-brand" href="/">
        <img src="/public/img/logo-DW.webp" width="64" alt="Dumbways Logo" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link my-btn-link active" href="/">Home</a>
          </li>
          {{if .Data.IsLogin}}
          <li class="nav-item">
            <a class="nav-link my-btn-link" href="/project">Add Project</a>
          </li>
          {{end}}
        </ul>
        <div class="d-flex gap-3">
          {{if .Data.IsLogin}}
          <ul class="navbar-nav">
            <li class="nav-item">
              <span class="nav-link"><strong class="fw-semibold">Hello, {{.Data.NameUser}}</strong></span>
            </li>
            <li class="nav-item">
              <a class="nav-link my-btn-link" href="/auth/logout">Logout</a>
            </li>
          </ul>
          {{else}}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link my-btn-link" href="/auth/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link my-btn-link" href="/auth/register">Registration</a>
            </li>
          </ul>
          {{end}}
          <a class="btn btn-outline-danger px-4 fw-semibold" href="/contact">Contact Me</a>
        </div>
      </div>
    </div>
  </nav>

  {{if .Data.FlashData}}
  <!-- Flashdata -->
  <div class="alert alert-success d-flex gap-3 rounded-4 align-items-center alert-dismissible fade show z-3"
    role="alert"
    style="width: fit-content; position: fixed; bottom: 1rem; right: 1rem !important; margin: 0 !important;">
    <i class="fa-solid fa-check-circle"></i>
    <span>
      <strong> {{.Data.FlashData}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </span>
  </div>
  {{end}}

  <!-- Form Get In Touch -->
  <section class="my-bg-gradient">
    <div class="mx-auto container px-3" style="padding-top: 120px; min-height: 100vh;">

      <div class="card rounded-4 shadow p-4">
        <div class="row gap">
          <div class="col-lg-8 p-4">
            <h1 class="card-title fw-bold mb-3">Hi Welcome to my hut</h1>
            <p class="card-text" style="text-align: justify;">

              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Sed elementum tempus egestas sed sed risus pretium quam
              vulputate. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Mi sit amet mauris commodo
              quis
              imperdiet massa tincidunt. Ut aliquam purus sit amet luctus venenatis lectus magna fringilla. Neque
              vitae
              tempus quam pellentesque. Lorem dolor sed viverra ipsum nunc aliquet bibendum. Quam nulla porttitor
              massa
              id
              neque aliquam. Est ullamcorper eget nulla facilisi etiam dignissim. Nulla posuere sollicitudin aliquam
              ultrices sagittis orci
              a. Feugiat nisl pretium fusce id velit ut tortor. Nec feugiat in fermentum posuere urna nec tincidunt
              praesent. Amet mauris commodo quis imperdiet massa tincidunt. Amet porttitor eget dolor morbi non arcu
              risus
              quis. Porttitor leo a diam sollicitudin tempor id eu. A diam maecenas sed enim ut sem viverra aliquet
              eget.
            </p>

            <div class="" style="margin: 24px 0;">
              <!-- Contact Btn -->
              <a href="mailto:wahyudi.chrisdianto@gmail.com" class="btn btn-danger px-4 fx-semibold">Contact</a>

              <!-- Download CV Btn -->
              <!-- add 'download' atribute if u want to make download when clicked -->
              <a href="/uploads/wahyu_cv19122022.pdf" class="btn btn-link my-btn-link" style="color: black;">Download
                CV
                <i class="fa-solid fa-download fw-semibold"></i>
              </a>
            </div>

            <div class="btn-group gap-2 fs-5">
              <!-- Linkedin -->
              <a id="linkedin" class="social-icon" href="https://linkedin.com/in/hyujisf/">
                <i class="fa-brands fa-linkedin"></i>
              </a>

              <!-- Instagram -->
              <a id="instagram" class="social-icon" href="https://instagram.com/hyujisf">
                <i class="fa-brands fa-instagram"></i>
              </a>

              <!-- Facebook -->
              <a id="facebook" class="social-icon" href="https://www.facebook.com/hyujisf/">
                <i class="fa-brands fa-facebook-f"></i>
              </a>

              <!-- Twitter -->
              <a id="twitter" class="social-icon" href="https://twitter.com/hyujisf">
                <i class="fa-brands fa-twitter"></i>
              </a>

              <!-- Github -->
              <a id="github" class="social-icon" href="https://github.com/hyujisf">
                <i class="fa-brands fa-github"></i>
              </a>

              <!-- Personal Web -->
              <a id="personalweb" class="social-icon" href="http://hyujisf.github.io">
                <i class="fa-solid fa-globe"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4 p-4">
            <!-- Profile Card -->
            <div class="text-center rounded-4 shadow overflow-hidden">
              <div class=" w-100 overflow-hidden" style="height: 450px;">
                <img class=" object-fit-cover h-100 w-100" src="https://github.com/hyujisf.png"
                  alt="Wahyudi Chrisdianto">
              </div>
              <div class="p-3">
                <b class="fs-5">Wahyudi Chrisdianto</b>
                <p class="m-0">Fullstack Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-5 mt-5">
      <h1 class="text-center text-white fw-bold mb-5" style="font-size: 4rem;">MY PROJECT</h1>
      {{if .Projects}}
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 pt-5 row-gap-4">

        {{range $index, $data := .Projects }}
        <div class="col">
          <div class="card rounded-4">
            <div class="overflow-hidden mx-3 mt-3 rounded-3">
              <!-- <img class="card-img-top object-fit-cover w-100" alt="img-post"
                  src="https://source.unsplash.com/800x480?programming"> -->
              <img class="card-img-top object-fit-cover w-100" height="320" alt="img-post"
                src="/uploads/{{$data.Image}}">
            </div>
            <div class="card-body">
              <h5 class="card-title fw-semibold lh-sm m-0">
                <a class="" href="/project/{{$data.ID}}" style="text-decoration: none;">
                  {{$data.Name}}
                </a>
              </h5>
              <small>{{$data.Duration}}</small>
              <div class="mt-2">
                <p class="card-text fw-semibold text-truncate__3" style="text-align: justify;">
                  {{$data.Description}}
                  asdsada dasd asd as asd asda sd aa sdasda sdadadasdasasasas a sda sa sas ad asda dasd asd aa sdas asd
                  asd asd aasas as asasa sas asdasas asd asd aa as asd ad as as
                </p>
                <ul class="d-flex gap-2" style=" padding: 0;">
                  {{range $index, $tech := $data.Tech }}

                  <li>
                    <img src="/public/img/icon/logo-{{$tech}}.svg" alt="Item Icon" width="30">
                  </li>
                  {{end}}

                </ul>
              </div>

              {{if $.Data.IsLogin}}
              <div class="d-flex w-100 gap-2" style="margin-top:24px;">
                <a class="btn btn-warning btn-sm w-100" href="/project/e/{{$data.ID}}">Edit</a>
                <a class="btn btn-danger btn-sm w-100" href="/project/d/{{$data.ID}}">Delete</a>
              </div>
              {{end}}
            </div>
          </div>
        </div>
        {{end}}
      </div>

      {{else}}
      <div class="text-center mx-auto ">
        <h2 class="text-center text-white fw-semibold my-5">You does'nt have any post Yet</h2>
        <a class="btn btn-warning px-5 py-3 btn-lg fw-semibold rounded-pill" href="/project">I want to make a new
          Project
          Now</a>
      </div>
      {{end}}
    </div>
  </section>

  <footer class="navbar bg-body-tertiary">
    <div class="container">
      <a class="nav-link d-flex gap-2 align-items-center" aria-current="page" href="https://github.com/hyujisf"><img
          src="https://github.com/hyujisf.png" width="40" alt="hyujisf profile" class="rounded-pill"><span
          class="fw-semibold "><i class="fa-brands fa-github"></i> Hyujisf</span></a>
    </div>
  </footer>
</body>

</html>