<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  <link rel="shortcut icon" href="/public/assets/favicon.ico" type="image/x-icon">
  <link rel="preload" href="/public/assets/css/app.css" as="style">
  <link rel="stylesheet" href="/public/assets/css/app.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="fixed-top shadow navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid container">
      <a class="navbar-brand" href="/">
        <img src="/public/assets/img/logo-DW.webp" width="64" alt="Dumbways Logo" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/project">Add Project</a>
          </li>
        </ul>
        <div class="d-flex">
          <a class="btn btn-outline-primary" href="/contact">Contact Me</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Form Get In Touch -->
  <section class="my-bg-gradient py-5">
    <div class="mx-auto container px-3" style="padding-top: 5rem;min-height: 100vh;">
      <div class="card rounded-4 shadow p-4">
        <div class="row gap">
          <div class="col-lg-8 p-4">
            <h1 class="card-title fw-bold mb-3">Hi Welcome to my hut</h1>
            <p class="card-text" style="text-align: justify;">

              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Sed elementum tempus egestas sed sed risus pretium quam
              vulputate. Placerat duis ultricies lacus sed turpis tincidunt id aliquet. Mi sit amet mauris commodo
              quis
              imperdiet massa tincidunt. Ut aliquam purus sit amet luctus venenatis lectus magna fringilla. Neque
              vitae
              tempus quam pellentesque. Lorem dolor sed viverra ipsum nunc aliquet bibendum. Quam nulla porttitor
              massa
              id
              neque aliquam. Est ullamcorper eget nulla facilisi etiam dignissim. Nulla posuere sollicitudin aliquam
              ultrices sagittis orci
              a. Feugiat nisl pretium fusce id velit ut tortor. Nec feugiat in fermentum posuere urna nec tincidunt
              praesent. Amet mauris commodo quis imperdiet massa tincidunt. Amet porttitor eget dolor morbi non arcu
              risus
              quis. Porttitor leo a diam sollicitudin tempor id eu. A diam maecenas sed enim ut sem viverra aliquet
              eget.
            </p>

            <div class="" style="margin: 24px 0;">
              <!-- Contact Btn -->
              <a href="mailto:wahyudi.chrisdianto@gmail.com" class="btn btn-primary">Contact</a>

              <!-- Download CV Btn -->
              <!-- add 'download' atribute if u want to make download when clicked -->
              <a href="/public/assets/uploads/wahyu_cv19122022.pdf" class="btn btn-link my-btn-link">Download
                CV
                <i class="fa-solid fa-download"></i>
              </a>
            </div>

            <div class="btn-group gap-2 fs-5">
              <!-- Linkedin -->
              <a id="linkedin" class="social-icon" href="https://linkedin.com/in/hyujisf/">
                <i class="fa-brands fa-linkedin"></i>
              </a>

              <!-- Instagram -->
              <a id="instagram" class="social-icon" href="https://instagram.com/hyujisf">
                <i class="fa-brands fa-instagram"></i>
              </a>

              <!-- Facebook -->
              <a id="facebook" class="social-icon" href="https://www.facebook.com/hyujisf/">
                <i class="fa-brands fa-facebook-f"></i>
              </a>

              <!-- Twitter -->
              <a id="twitter" class="social-icon" href="https://twitter.com/hyujisf">
                <i class="fa-brands fa-twitter"></i>
              </a>

              <!-- Github -->
              <a id="github" class="social-icon" href="https://github.com/hyujisf">
                <i class="fa-brands fa-github"></i>
              </a>

              <!-- Personal Web -->
              <a id="personalweb" class="social-icon" href="http://hyujisf.github.io">
                <i class="fa-solid fa-globe"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4 p-4">
            <!-- Profile Card -->
            <div class="text-center">
              <div class="w-100 rounded-4 overflow-hidden" style="height: 450px;">
                <img class=" object-fit-cover h-100 w-100" src="https://github.com/hyujisf.png"
                  alt="Wahyudi Chrisdianto">
              </div>
              <div class="p-3">
                <b class="fs-5">Wahyudi Chrisdianto</b>
                <p class="m-0">Fullstack Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </section>

  <section class="py-5"> -->
    <div class="container py-5 mt-5">
      <h1 class="text-center text-white fw-bold mb-5">MY PROJECT</h1>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 pt-5 row-gap-4">
        <div class="col">
          <div class="card rounded-4">
            <div class="overflow-hidden mx-3 mt-3 rounded-3">
              <img class="card-img-top object-fit-cover w-100" alt="img-post"
                src="https://source.unsplash.com/800x480?programming">
            </div>
            <div class="card-body">
              <a href="/project/1">
                <h5 class="card-title fw-semibold">Card Title</h5>
              </a>
              <p class="card-text" style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quo mollitia asperiores aut repudiandae,
                consectetur eaque in ullam. Hic doloribus officiis velit veniam! Aspernatur unde deleniti numquam
                quidem, eaque enim.
              </p>
              <ul class="list-items-sm">
                <li>
                  <img src="/public/assets/img/icon/logo-reactjs.svg" alt="Item Icon">
                </li>
                <li>
                  <img src="/public/assets/img/icon/logo-nodejs.svg" alt="Item Icon">
                </li>
                <li>
                  <img src="/public/assets/img/icon/logo-nextjs.svg" alt="Item Icon">
                </li>
              </ul>

              <div class="d-flex w-100 gap-2" style="margin-top:24px;">
                {{if.IsLogin}}
                <a class="btn btn-warning btn-sm w-100" href="/project/1">Edit</a>
                <span onclick="document.getElementById('post-00').remove();"
                  class="btn btn-danger btn-sm w-100">Delete</span>
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="navbar bg-body-tertiary">
    <div class="container">
      <a class="nav-link d-flex gap-2 align-items-center" aria-current="page" href="index.html"><img
          src="https://github.com/hyujisf.png" width="40" alt="hyujisf profile" class="rounded-pill"><span
          class="fw-semibold "><i class="fa-brands fa-github"></i> Hyujisf</span></a>
    </div>
  </footer>
</body>

</html>