/* Card Profile */
.card-profile {
  border-radius: 20px;
  width: 320px;
  margin: auto;
  box-shadow: 0 8px 48px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.card-profile__img {
  width: 100%;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
}

.card-profile__img>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: saturate(1.20) grayscale(20%);
}

.card-profile__body {
  text-align: center;
  margin: 20px 0;
}

.card-profile__desc {
  font-weight: 600;
  font-size: .85rem;
  color: #3a3a3a;
}