.list-items {
  display: flex;
  /* grid-template-columns: ; */
  gap: 16px;
  flex-wrap: wrap;
  padding: 0;
  /* justify-content: center; */
}

.list-items>li {
  list-style: none;
  display: flex;
  background-color: #f3f5f9;
  flex: 0 1 auto;
  padding: 24px;
  gap: 12px;
  /* width: 35%; */
  aspect-ratio: 1/1;
  text-align: center;
  align-content: center;
  flex-direction: column;
  border-radius: 16px;
  /* border: 0.5px solid #d3d3d3; */
  box-shadow: 0 0 8px rgba(0, 0, 0, .05);
  transition: all 200ms ease-in-out;
}

.list-items>li:hover {

  box-shadow: 0 0 8px rgba(242, 35, 12, 0.5);
}

@media (min-width:1024) {}

.list-items>li>img {
  margin: auto;
  height: 48px;
  width: 48px;
}